*{
    margin:0;
    padding:0;
        font-family: 'Poppins', sans-serif;

}
.header{
    min-height: 100%;
    width:100%;
    height:70px;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
    position: relative;

}
.logo{
    width: 50px;


}
nav{
    display:flex;
    padding: 2% 6%;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.nav-links ul li a:hover{
    color: #ff7200;
}   
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.nav-links ul li a:hover{   
    color: #ff7200;
}
.text-img{
    width: 100%;
    height: 100vh;
    background-image: url(images/psylo.jpg);
    background-size: cover;
    position: relative;
}
.text-box{
    width: 90%;
    color: #f82222;
        position: relative;

    display:fexl;
    top: 30vh;
    left: 50%;
    font-size:20px;
    transform: translate(-50%,-50%);
    text-align: center;
} 
.btn{
    display: inline-block; 
    padding: 10px 20px;
    background-color: #ff7200;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}
.courses{
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    color:pink;
    top:100vh;
    position:relative;
}
.courses h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 7%;
}

.course-col{
    flex-basis: 25%;
    max-width: 25%;
    background:#ff7200;
    border-radius: 10px;
    margin: 5% 0 0 5%;
    padding: 12px 10px;
    box-sizing: border-box;
    transition:0.5s;
    cursor:pointer;
    text-align: center;
    position:relative;


}
.course-col img{
    width: 100%;
}
.course-col h5{
    text-align:center;
    font-weight: 600px;
    margin: 10px 0;
}
.course-col p{
    color: #fff;
    font-size: 14px;
}  
.course-col:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(29, 66, 90, 0.2);
}
