.courses {
  width: 100%;
  margin-top:50%;
  background: #fff;
  text-align: center;
}

.course-title {
  font-size: 36px;
  color: #222;
  margin-bottom: 10px;
}

.course-subtitle {
  font-size: 16px;
  color: #555;
  margin-bottom: 50px;
}

.course-row {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.course-col {
  background: #f9f9f9;
  padding: 30px 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.course-col h3 {
  font-size: 22px;
  color: #007bff;
  margin-bottom: 15px;
}

.course-col p {
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}

.course-col:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
