*{
    margin:0;
    padding:0;
        font-family: 'Poppins', sans-serif;

}
.header{
    min-height: 100%;
    width:100%;
    height:70px;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
    position: relative;

}
.logo{
    width: 50px;


}
nav{
    display:flex;
    padding: 2% 6%;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.nav-links ul li a:hover{
    color: #ff7200;
}   
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.nav-links ul li a:hover{   
    color: #ff7200;
}
.text-img{
    width: 100%;
    height: 100vh;
    background-image: url(images/school-management.jpg);
    background-size: cover;
    position: relative;
}
.text-img:hover {
    animation: identifier 10s infinite;
}

@keyframes identifier {
    0% {
        background-image: url(images/1.png);
    }

    25% {
        background-image: url(images/2.png);
    }

    50% {
        background-image: url(images/OIP.jpg);
    }

    75% {
        background-image: url(images/oip1.jpg);
    }

    100% {
        background-image: url(images/OIP\ 2.jpg);
    }
}

.text-box{
    width: 90%;
    color: #f82222;
        position: relative;

    display:fexl;
    top: 30vh;
    left: 50%;
    font-size:20px;
    transform: translate(-50%,-50%);
    text-align: center;
} 
.btn{
    display: inline-block; 
    padding: 10px 20px;
    background-color: #ff7200;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}
.btn:hover{
    background-color: #e65c00;
}